selenium==4.8.3
requests==2.30.0
APScheduler==3.10.2
BeautifulSoup4==4.12.1
gunicorn==21.0.0
Flask==2.3.2
webdriver-manager==3.8.6
chromedriver-binary==112.0.5615.49.0
schedule==1.2.1
waitress==2.1.2
asyncio
futures
